layout {

    focus-ring {
        active-color   "#e1b7f5"
        inactive-color "#161217"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e1b7f5"
        inactive-color "#161217"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e1b7f5"
        inactive-color "#5a396d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e1b7f580"
    }
}

recent-windows {
    highlight {
        active-color "#e1b7f5"
        urgent-color "#ffb4ab"
    }
}
